<div id="properties" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Properties</h3>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Thickness</span> <input [(ngModel)]="this.lineProperties.thickness" type="text"
                                                              class="form-control" placeholder="">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Font size</span> <input [(ngModel)]="this.fontProperties.size" type="text"
                                                              class="form-control" placeholder="">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Other</span> <input type="text"
                                                          class="form-control" placeholder="">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Other</span> <input type="text"
                                                          class="form-control" placeholder="">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Inner</span>
      <input [(colorPicker)]="color" [style.background]="color"
             [value]="color" [cpPosition]="'left'" class="form-control" title="Select fill color"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Outer</span>
      <input [(colorPicker)]="colorStroke" [style.background]="colorStroke"
             [value]="colorStroke" [cpPosition]="'left'" class="form-control" title="Select stroke color"/>
    </div>
  </div>
</div>
